<!DOCTYPE html>

<title>Calander index</title>

{% block body %}
    <h1>Calander index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date_begin</th>
                <th>Data_fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calander in calanders %}
            <tr>
                <td>{{ calander.id }}</td>
                <td>{{ calander.title }}</td>
                <td>{{ calander.dateBegin ? calander.dateBegin|date('Y-m-d') : '' }}</td>
                <td>{{ calander.dataFin ? calander.dataFin|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('calander_show', {'id': calander.id}) }}">show</a>
                    <a href="{{ path('calander_edit', {'id': calander.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('calander_new') }}">Create new</a>
{% endblock %}
