{% extends 'baseBack.html.twig' %}

{% block title %}  Modifier Vendeur {% endblock %}

{% block content %}

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block"> <img src="{{ asset('back/img/vendeur.JPG') }}" width="400" height="700"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Modifier Vendeur</h1>
                            </div>
                            <div class="form-group">
                                {{ form_start(form) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.pays , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Pays'}} ) }}
                                {{ form_errors(form.pays) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.ville , {'attr': {'class': ' form-select-lg form-control form-control-user' , 'placeholder' : 'Ville'}} ) }}
                                {{ form_errors(form.ville) }}
                            </div>

                            <div class="form-group">
                                {{ form_widget(form.tel , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Tel'}} ) }}
                                {{ form_errors(form.tel) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Name'}} ) }}
                                {{ form_errors(form.nom) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.type , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Type'}} ) }}
                                {{ form_errors(form.type) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.heure_ouverture, {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Opening Time'}} ) }}
                                {{ form_errors(form.heure_ouverture) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.heure_fermeture, {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Closing Time'}} ) }}
                                {{ form_errors(form.heure_fermeture) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.modifier , {'attr': {'class': 'form-control form-control-user btn-info' , 'placeholder' : 'Modifier'}} ) }}
                                {{ form_end(form) }}
                            </div>
                            <div align="right">
                                <a href="{{ path('vendeurs') }}">Retourner vers Vendeurs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
