{% extends 'baseFront.html.twig' %}
{% block change %}

    <style>
        .book_button
        {
            background: #31124b;
            margin-top: 39px;
            margin-bottom: -5px;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
        }
    </style>
    <!-- Offers Item -->
    {% for h in facceuils %}
        <div class="offers_item rating_3">
            <div class="row">
                <div class="col-lg-1 temp_col"></div>
                <div class="col-lg-3 col-1680-4">
                    <div class="offers_image_container">
                        <!-- Image by https://unsplash.com/@thoughtcatalog -->
                        <div class="offers_image_background" style="background-image:url({{ asset('Upload/') }}{{ h.image }})"></div>
                        <div class="offer_name"><a href="single_listing.html">{{ h.image }}</a></div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="offers_content">
                        <div class="offers_price">{{ h.NbPlace }}<span>places disponible</span></div>
                        <div class="rating_r rating_r_3 offers_rating" data-rating="3">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                        <p class="offers_text">{{ h.description }}</p>
                        <div class="offers_icons">
                            <ul class="offers_icons_list">
                                <li class="offers_icons_item"><img src="{{ asset('front/images/post.png') }}" alt=""></li>
                                <li class="offers_icons_item"><img src="{{ asset('front/images/compass.png') }}" alt=""></li>
                                <li class="offers_icons_item"><img src="{{ asset('front/images/bicycle.png') }}" alt=""></li>
                                <li class="offers_icons_item"><img src="{{ asset('front/images/sailboat.png') }}" alt=""></li>
                            </ul>
                        </div>
                        <div class="button book_button"><a href="{{ url('facceuil_edit' , {id : h.id} ) }}">Edit<span></span><span></span><span></span></a></div>
                        <div class="button book_button"><a href="{{ url('facceuil_delete' , {id : h.id} ) }}">Supprimer<span></span><span></span><span></span></a></div>

                        <div class="offer_reviews">
                            <div class="offer_reviews_content">

                                <div class="offer_reviews_subtitle">{{ h.Vote | round }} reviews</div>
                            </div>
                            <div class="offer_reviews_rating text-center">{{ h.Rate  }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="button book_button"><a href="{{ url('reservationFacceuil'  ) }}">Consulter reservations<span></span><span></span><span></span></a></div>

    <div class="button book_button"><a href="{{ url('facceuil_new'  ) }}">Ajouter maison<span></span><span></span><span></span></a></div>

{% endblock %}