
{% extends 'baseBack.html.twig' %}



{% block title %}Edit Plan{% endblock %}


{% block content %}

<div class="container" style="height:100%">

    <div class="card o-hidden border-0 shadow-lg my-5" style="height:80%"> 
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row" style="height:80%">
                <div class="col-lg-4 d-none d-lg-block"> <img src="{{ asset('back/img/tt.jpg') }}" width="400" height="800"></div>
                <div class="col-lg-8">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Ajouter un Category</h1>
                        </div>
                            <div class="form-group">
                            {{ form_start(form) }}
                           <div class="form-group">
                                    {{ form_widget(form.name,{'attr':{'class':'form-control from-control-user','placholder':'plan name'}}) }}
                                    {{ form_errors(form.name ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.Description,{'attr':{'class':'form-control from-control-user','placholder':' Discription'}}) }}
                                    {{ form_errors(form.Description ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.Event,{'attr':{'class':'form-control form-control-user','style':'width:100%;height:50px'  }}) }}
                                    {{ form_errors(form.Event ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.hotel,{'attr':{'class':'form-control form-control-user','style':'width:100%;height:50px'  }}) }}
                                    {{ form_errors(form.hotel ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.facceuil,{'attr':{'class':'form-control form-control-user','style':'width:100%;height:50px'  }}) }}
                                    {{ form_errors(form.facceuil ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.guide,{'attr':{'class':'form-control form-control-user','style':'width:100%;height:50px'  }}) }}
                                    {{ form_errors(form.guide ,{'attr':{'class':'form-control form-control-user','style':'width:100%;height:50px'  }}) }}
                                </div>
                           
                        
                            
                        
                            <hr>

                            {{ form_widget(form.save,{'attr':{'class':'btn btn-danger'}} ) }}
                              {{ form_end(form) }}
                        <hr>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
