{% extends 'baseBack.html.twig' %}

{% block title %}  Evenements {% endblock %}

{% block content %}
<h1 style="text-align: center">Gestion des Evenements</h1>

<body id="page-top">
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
    <button type="button" class="btn btn-info mb-4" name="button"> <a href="{{ url('evenement_new')}}">Ajouter  </a> </button>
        <button type="button" class="btn btn-info mb-4" name="button" style="margin-left: 190px"> <a href="{{ url('evenementsliste')}}"> Imprimer </a> </button>
        <button type="button" class="btn btn-info mb-4" name="button" style="margin-left: 190px"> <a href="{{ url('evenementsstat')}}"> Statistiques 1</a> </button>
        <button type="button" class="btn btn-info mb-4" name="button" style="margin-left: 190px"> <a href="{{ url('statsevenement')}}"> Statistiques 2</a> </button>
        <button type="button" class="btn btn-info mb-4" name="button" style="margin-left: 190px"> <a href="{{ url('mailevent')}}"> Mail </a> </button>
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <input style="margin-bottom: 10px" class="form-control" id="myInput" type="text" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date_debut</th>
                    <th>Date_fin</th>
                    <th>Description</th>
                    <th> Prix </th>
                    <th> Ville </th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody id="hi">
                {% for evenement in events %}
                    <tr>
                        <td>{{ evenement.nom }}</td>
                        <td>{{ evenement.dateDebut ? evenement.dateDebut|date('Y-m-d') : '' }}</td>
                        <td>{{ evenement.dateFin ? evenement.dateFin|date('Y-m-d') : '' }}</td>
                        <td>{{ evenement.description }}</td>
                        <td>{{ evenement.prix }}</td>
                        <td>{{ evenement.ville }}</td>
                        <td> <a href="{{ url('evenement_edit' , {id : evenement.id} ) }}"> <img src="{{ asset('back/img/edit.png') }}" alt="edit" width="50px" height="50px" >  </a>
                        <a href="{{ url('evenement_delete' , {id : evenement.id} ) }}"> <img src="{{ asset('back/img/icon-delete.jpg') }}" alt="edit" width="50px" height="50px" >  </a></td>
                    </tr>

                {% endfor %}
                </tbody>
                {{ knp_pagination_render(events) }}
            </table>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#hi tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

{% endblock %}
