{% extends 'baseFront.html.twig' %}
{% block up %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travelix Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset('front/styles/bootstrap4/bootstrap.min.css')}}">
    <link href="{{asset('front/plugins/font-awesome-4.7.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{asset('front/plugins/OwlCarousel2-2.2.1/owl.carousel.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('front/plugins/OwlCarousel2-2.2.1/owl.theme.default.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('front/plugins/OwlCarousel2-2.2.1/animate.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('front/styles/main_styles.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('front/styles/responsive.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('front/styles/single_listing_styles.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('front/styles/single_listing_responsive.css')}}">
    <link href="{{asset('front/plugins/colorbox/colorbox.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .mystar{
            font-size: 25px !important;
            color: #f9d933 !important;
        }
    </style>
{% endblock %}
{% block search %}

    <style>
        .book_button
        {
            background: #31124b;
            margin-top: 39px;
            margin-bottom: -5px;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
        }
    </style>
    <div class="search">
        <div class="container fill_height">
            <div class="row fill_height">
                <div class="col fill_height">
                    <div class="search_tabs_container">
                        <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                            <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="{{asset('front/images/suitcase.png')}}" alt=""><span>Hotels</span></div>
                            <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="{{asset('front/images/bus.png')}}" alt="">Familles Acceuils</div>
                            <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="{{asset('front/images/departure.png')}}" alt="">Guides</div>
                            <div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="{{asset('front/images/island.png')}}" alt="">Vendeurs</div>
                            <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="{{asset('front/images/cruise.png')}}" alt="">Evenements</div>
                            <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="{{asset('front/images/diving.png')}}" alt="">Offres</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block change %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single_listing">

                    <!-- Hotel Info -->

                    <div class="hotel_info">

                        <!-- Title -->
                        <div class="hotel_title_container d-flex flex-lg-row flex-column">
                            <div class="hotel_title_content">
                                <h1 class="hotel_title">Vendeur: {{ vendeur.nom }}</h1>
                                <div class="hotel_location">Pays: {{ vendeur.pays }}</div>
                                <br><br>
                                <div style="display: flex;">

                                    <span style="cursor:pointer" class="fa fa-star-o mystar"></span>
                                    <span style="cursor:pointer" class="fa fa-star-o mystar"></span>
                                    <span style="cursor:pointer" class="fa fa-star-o mystar"></span>
                                    <span style="cursor:pointer" class="fa fa-star-o mystar"></span>
                                    <span style="cursor:pointer" class="fa fa-star-o mystar"></span>
                                    &nbsp; &nbsp;&nbsp;&nbsp;
                                    <button id="btnVote" class="btn btn-primary">Vote</button>

                                </div>
                            </div>
                            <div class="hotel_title_button ml-lg-auto text-lg-right">
                                <div class="button book_button trans_200"><a href="{{ url('new_reservation'  , {id : vendeur.id} )}}">Réserver<span></span><span></span><span></span></a></div>
                                <div class="hotel_map_link_container">
                                    <div class="hotel_map_link"> <a  href="{{ url('frontVendeurs' )}}">Retourner vers Vendeurs</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Listing Image -->

                        <div class="hotel_image">
                            <img src="{{ asset('uploads/images/' ~ vendeur.image)}}" alt="">
                        </div>
                        <div class="hotel_review">
                            <div class="hotel_review_content">
                                <div class="hotel_review_subtitle">Rating</div>
                            </div>
                            <div class="hotel_review_rating text-center">{{ vendeur.Rate  }}</div>
                        </div>

                        <!-- Hotel Gallery -->

                        <div class="hotel_gallery">
                            <div class="hotel_slider_container">
                                <div class="owl-carousel owl-theme hotel_slider">

                                    <!-- Hotel Gallery Slider Item -->
                                    <div class="owl-item">
                                        <a class="colorbox cboxElement" href="{{asset('front/images/listing_1.jpg')}}">
                                            <img src="{{asset('front/images/listing_thumb_1.jpg')}}" alt="https://unsplash.com/@jbriscoe">
                                        </a>
                                    </div>

                                    <!-- Hotel Gallery Slider Item -->
                                    <div class="owl-item">
                                        <a class="colorbox cboxElement" href="{{asset('front/images/listing_2.jpg')}}">
                                            <img src="{{asset('front/images/listing_thumb_2.jpg')}}" alt="https://unsplash.com/@grovemade">
                                        </a>
                                    </div>

                                    <!-- Hotel Gallery Slider Item -->
                                    <div class="owl-item">
                                        <a class="colorbox cboxElement" href="{{asset('front/images/listing_3.jpg')}}">
                                            <img src="{{asset('front/images/listing_thumb_3.jpg')}}" alt="https://unsplash.com/@fransaraco">
                                        </a>
                                    </div>

                                    <!-- Hotel Gallery Slider Item -->
                                    <div class="owl-item">
                                        <a class="colorbox cboxElement" href="{{asset('front/images/listing_4.jpg')}}">
                                            <img src="{{asset('front/images/listing_thumb_4.jpg')}}" alt="https://unsplash.com/@workweek">
                                        </a>
                                    </div>

                                    <!-- Hotel Gallery Slider Item -->
                                    <div class="owl-item">
                                        <a class="colorbox cboxElement" href="{{asset('front/images/listing_5.jpg')}}">
                                            <img src="{{asset('front/images/listing_thumb_5.jpg')}}" alt="https://unsplash.com/@workweek">
                                        </a>
                                    </div>

                                    <!-- Hotel Gallery Slider Item -->
                                    <div class="owl-item">
                                        <a class="colorbox cboxElement" href="{{asset('front/images/listing_6.jpg')}}">
                                            <img src="{{asset('front/images/listing_thumb_6.jpg')}}" alt="https://unsplash.com/@avidenov">
                                        </a>
                                    </div>

                                    <!-- Hotel Gallery Slider Item -->
                                    <div class="owl-item">
                                        <a class="colorbox cboxElement" href="{{asset('front/images/listing_8.jpg')}}">
                                            <img src="{{asset('front/images/listing_thumb_8.jpg')}}" alt="https://unsplash.com/@rktkn">
                                        </a>
                                    </div>

                                    <!-- Hotel Gallery Slider Item -->
                                    <div class="owl-item">
                                        <a class="colorbox cboxElement" href="{{asset('front/images/listing_9.jpg')}}">
                                            <img src="{{asset('front/images/listing_thumb_9.jpg')}}" alt="https://unsplash.com/@mindaugas">
                                        </a>
                                    </div>
                                </div>

                                <!-- Hotel Slider Nav - Prev -->
                                <div class="hotel_slider_nav hotel_slider_prev">
                                    <svg version="1.1" id="Layer_6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
											<defs>
                                                <linearGradient id='hotel_grad_prev'>
                                                    <stop offset='0%' stop-color='#fa9e1b'/>
                                                    <stop offset='100%' stop-color='#8d4fff'/>
                                                </linearGradient>
                                            </defs>
                                        <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
											M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
											C22.545,2,26,5.541,26,9.909V23.091z"/>
                                        <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219
											11.042,18.219 "/>
										</svg>
                                </div>

                                <!-- Hotel Slider Nav - Next -->
                                <div class="hotel_slider_nav hotel_slider_next">
                                    <svg version="1.1" id="Layer_7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
											<defs>
                                                <linearGradient id='hotel_grad_next'>
                                                    <stop offset='0%' stop-color='#fa9e1b'/>
                                                    <stop offset='100%' stop-color='#8d4fff'/>
                                                </linearGradient>
                                            </defs>
                                        <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
										M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
										C22.545,2,26,5.541,26,9.909V23.091z"/>
                                        <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554
										17.046,15.554 "/>
										</svg>
                                </div>

                            </div>
                        </div>

                        <!-- Hotel Info Text -->

                        <div class="hotel_info_text">
                            <p>Description:<br>{{ vendeur.tel }}</p>
                        </div>

                        <!-- Hotel Info Tags -->

                        <div class="hotel_info_tags">
                            <ul class="hotel_icons_list">
                                <li class="hotel_icons_item"><img src="{{asset('front/images/post.png')}}" alt=""></li>
                                <li class="hotel_icons_item"><img src="{{asset('front/images/compass.png')}}" alt=""></li>
                                <li class="hotel_icons_item"><img src="{{asset('front/images/bicycle.png')}}" alt=""></li>
                                <li class="hotel_icons_item"><img src="{{asset('front/images/sailboat.png')}}" alt=""></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Rooms -->

                    <div class="rooms">

                        <!-- Room -->
                        <div class="room">

                            <!-- Room -->
                            {% for v in vendeurs %}
                                {% if v.getId() != vendeur.getId() %}
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="room_image"><img src="{{asset('uploads/images/' ~ v.image)}}" alt="https://unsplash.com/@grovemade"></div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="room_content">
                                                <div class="room_title">Vendeur: {{ v.nom }}</div>
                                                <div class="room_title">Nombre des Places: {{ v.type }}</div>
                                                <div class="room_price">Description: {{ v.tel }}</div>
                                                <div class="room_extra">Prix {{ v.tel }}Dt</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 text-lg-right">
                                            <div class="room_button">
                                                <div class="button book_button trans_200"><a href="{{ url('frontVendeur'  , {id : v.id} )}}">Voir Plus<span></span><span></span><span></span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Reviews -->

                    <div class="reviews">
                        <div class="reviews_title">Commentaires</div>
                        <div class="reviews_container">

                            <!-- Review -->
                            <div class="review">
                                <div class="row">
                                    <div class="col-lg-11">
                                        <div class="review_title_container">
                                            <div class="review_title" id="test"></div>
                                            <div class="review_name" id="show"></div>
                                        </div>
                                        <div class="row ">
                                            <div class="review_date">{{ vendeur.getUser() }}</div>
                                            <textarea class="form-control" id="ZoneCom" rows="3" name="content"></textarea>
                                            <button type="submit" class="btn btn-default" id="addcomment">Ajouter Commentaire</button>
                                        </div >


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    {% block down %}
        <script src="{{asset('front/js/jquery-3.2.1.min.js')}}"></script>
        <script src="{{asset('front/styles/bootstrap4/popper.js')}}"></script>
        <script src="{{asset('front/styles/bootstrap4/bootstrap.min.js')}}"></script>
        <script src="{{asset('front/plugins/OwlCarousel2-2.2.1/owl.carousel.js')}}"></script>
        <script src="{{asset('front/plugins/easing/easing.js')}}"></script>
        <script src="{{asset('front/js/custom.js')}}"></script>

        <script src="https://use.fontawesome.com/9fb4b83f9f.js"></script>
        <script>
            // Starrr plugin (https://github.com/dobtco/starrr)
            var __slice = [].slice;
            $("#btnVote").click(function () {
                var number = $(".fa-star").length;
                alert("merci pour votre vote : "+number)
                console.log({number});
                var obj = {
                    "rate" :number,
                    "vendeur" : {{ vendeur.id }}
                }
                $.ajax({
                    url: '{{ path('rateVendeur') }}',
                    type: 'post',
                    data: JSON.stringify(obj),
                    success: function (result) {
                        console.log(result);
                        fillStars(result-1);
                    }
                });
                console.log(number);
            })

            $(document).ready(function () {
                $(".mystar").each(function (i,e) {
                    $(this).click(function () {

                        fillStars(i);
                    })
                })
                fillStars(Math.round({{ vendeur.rate-1 }}));
            });

            function fillStars(index) {
                $(".mystar").each(function (i,e) {
                    if(i<=index){
                        $(this).removeClass();
                        $(this).addClass("fa fa-star mystar");
                    }else{
                        $(this).removeClass();
                        $(this).addClass("fa fa-star-o mystar");
                    }
                })
            }
        </script>
    {% endblock %}
{% endblock %}
