
{% extends 'baseBack.html.twig' %}

{% block title %}  Reservations {% endblock %}

{% block content %}


<body id="page-top">
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div>
            <a href="{{ url('reservation_new') }}"> <img src="{{ asset('back/img/edit.png') }}" alt="edit" width="50px" height="50px" >  </a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Date_reservation</th>
                    <th>Tarif</th>
                    <th>modifier</th>
                    <th>supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.id }}</td>
                        <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
                        <td>{{ reservation.tarif }}</td>
                        <td> <a href="{{ url('reservation_edit' , {id : reservation.id} ) }}"> <img src="{{ asset('back/img/edit.png') }}" alt="edit" width="50px" height="50px" >  </a> </td>
                        <td><a href="{{ url('reservation_delete' , {id : reservation.id} ) }}"> <img src="{{ asset('back/img/icon-delete.jpg') }}" alt="edit" width="50px" height="50px" >  </a></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>





{% endblock %}


