<!DOCTYPE html>

<title>ReclamationFacc index</title>

{% block body %}
    <h1>ReclamationFacc index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Date_reclamation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation_facc in reclamation_faccs %}
            <tr>
                <td>{{ reclamation_facc.id }}</td>
                <td>{{ reclamation_facc.description }}</td>
                <td>{{ reclamation_facc.dateReclamation ? reclamation_facc.dateReclamation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('reclamation_facc_show', {'id': reclamation_facc.id}) }}">show</a>
                    <a href="{{ path('reclamation_facc_edit', {'id': reclamation_facc.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reclamation_facc_new') }}">Create new</a>
{% endblock %}
