<!DOCTYPE html>

<title>Vendeur</title>

{% block body %}
    <h1>Vendeur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vendeur.id }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ vendeur.pays }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ vendeur.ville }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ vendeur.image }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ vendeur.tel }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ vendeur.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ vendeur.type }}</td>
            </tr>
            <tr>
                <th>Heure_ouverture</th>
                <td>{{ vendeur.heureOuverture ? vendeur.heureOuverture|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Heure_fermeture</th>
                <td>{{ vendeur.heureFermeture ? vendeur.heureFermeture|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vendeur_index') }}">back to list</a>

    <a href="{{ path('vendeur_edit', {'id': vendeur.id}) }}">edit</a>

    {{ include('vendeur/_delete_form.html.twig') }}
{% endblock %}
