{% extends 'baseBack.html.twig' %}

{% block title %}PostForum index{% endblock %}

{% block content %}
    <h1>Post list</h1>

  

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div>
                <a href="{{ url('post_forum_new') }}"> <img src="{{ asset('back/img/edit.png') }}" alt="edit" width="50px" height="50px" >  </a>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Id</th>
                <th>Name</th>
                <th>Content</th>
                <th>Modifier</th>
                <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                   {% for post_forum in post_forums %}
            <tr>
                <td>{{ post_forum.id }}</td>
                <td>{{ post_forum.name }}</td>
                <td>{{ post_forum.content }}</td>
                <td> <a href="{{ url('post_forum_edit' , {id : post_forum.id} ) }}"> <img src="{{ asset('back/img/edit.png') }}" alt="edit" width="50px" height="50px" >  </a> </td>
                            <td><a href="{{ url('post_forum_delete' , {id : post_forum.id} ) }}"> <img src="{{ asset('back/img/icon-delete.jpg') }}" alt="edit" width="50px" height="50px" >  </a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}